# ==============================================================================
# Menu de Boot GRUB2 — Angel OS ("The Linux unix-like")
# ==============================================================================

set default=0
set timeout=5

insmod part_gpt
insmod part_msdos
insmod fat
insmod ext2
insmod all_video

menuentry "Angel OS (Seraphin Kernel - Normal Boot)" {
    linux /boot/vmlinuz-seraphin quiet splash angelos.profile=desktop
    initrd /boot/initrd-seraphin
}

menuentry "Angel OS (Querubin Mini-Kernel - Fast Boot / Recovery)" {
    linux /boot/vmlinuz-querubin quiet splash angelos.profile=mini-recovery
    initrd /boot/initrd-querubin
}

menuentry "Angel OS (Modo Gamer - Low Latency & High Performance)" {
    linux /boot/vmlinuz-seraphin quiet splash mitigations=off angelos.profile=gamer
    initrd /boot/initrd-seraphin
}

menuentry "Angel OS (Console / Fallback Mode)" {
    linux /boot/vmlinuz-seraphin nomodeset 3
    initrd /boot/initrd-seraphin
}
