# Ignorar arquivos de sistema e IDE
.idea/
.directory

# Ignorar binários de kernel e pacotes pesados
*.deb
*.iso
*.img
*.squashfs
*.packages
*.log

# Ignorar pastas temporárias do Imagecraft e builds
parts/
prime/
stage/
build/
overlay/
.disk.img.tmp
