set default=0
set timeout=5

menuentry "PlayOS Native Stage0 — kernel Noble" {
    linux /boot/vmlinuz playos.live=1 console=tty0 console=ttyS0,115200n8
    initrd /boot/initramfs.img
}

menuentry "PlayOS Native Stage0 — rescue" {
    linux /boot/vmlinuz playos.live=1 playos.rescue=1 console=tty0 console=ttyS0,115200n8
    initrd /boot/initramfs.img
}
